  <div style="color: white;">
    <br>
  <div  class="container">
  <div class="row">
    <div class="col-4 col-md">
      <h2 style="color: white;" id="about">My<em>Meal</em></h2>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/home">Cool stuff</a></li>
        <li><a class="text-muted" routerLink="/home">Random feature</a></li>
        <li><a class="text-muted" routerLink="/home">Team feature</a></li>
        <li><a class="text-muted" routerLink="/home">Stuff for developers</a></li>
        <li><a class="text-muted" routerLink="/home">Another one</a></li>
        <li><a class="text-muted" routerLink="/home">Last time</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" routerLink="/home">Resource</a></li>
        <li><a class="text-muted" routerLink="/home">Resource name</a></li>
        <li><a class="text-muted" routerLink="/home">Another resource</a></li>
        <li><a class="text-muted" routerLink="/home">Final resource</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>Follow Us</h5>
      <ul class="list-unstyled text-small">
        <li><a href="http://www.facebook.com" target="_blank"><img src="../../assets/img/footer/Group 141.png" alt=""></a>
          <a href="https://twitter.com" target="_blank"><img src="../../assets/img/footer/Group 140.png" alt=""></a>
          <a href="http://www.instagram.com" target="_blank"><img src="../../assets/img/footer/Group 139.png" alt=""></a></li>

      </ul>
    </div>
  </div>
</div>
</div>