<img style="position: absolute;" width="100%" class="img-fluid" src="/assets/img/index/Path orange.png" alt="">
    <img style="position: absolute;" width="100%" class="img-fluid" src="/assets/img/index/fruit background.png" alt="">
<div class="container">
<div class="row">
    <div class="col-12">
    <table style="position: relative; color: white; font-size: 2vw; border-collapse: separate; border-spacing: 8vw 2vw;">
    <tr>
        <td><a href="https://www.google.com/maps/search/Ariana+restaurant/@36.8591341,10.1504365,14z/data=!3m1!4b1" target="_blank">Ariana</a></td>
        <td><a href="https://www.google.com/maps/search/Bizerte+restaurant/@37.2851191,9.8566369,14z/data=!3m1!4b1" target="_blank">Bizerte</a>	</td>
        <td><a href="https://www.google.com/maps/search/Béja+restaurant/@36.7297086,9.1700926,14z/data=!3m1!4b1" target="_blank">Béja</a></td>
        <td><a href="https://www.google.com/maps/search/Ben+Arous+restaurant/@36.7666281,10.1758483,13z/data=!3m1!4b1" target="_blank">Ben Arous</a></td>
        <td><a href="https://www.google.com/maps/search/restaurant+near+Djerba/@33.8439806,10.7985564,11.02z" target="_blank" target="_blank">Djerba</a></td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/maps/search/Gabès+restaurant/@33.8883057,10.096084,15z/data=!3m1!4b1" target="_blank">Gabès</a></td>
        <td><a href="https://www.google.com/maps/search/Gabès+restaurant/@33.8883057,10.096084,15z/data=!3m1!4b1" target="_blank">Gafsa</a></td>
        <td><a href="https://www.google.com/maps/search/Jendouba+restaurant/@36.4986542,8.7565606,14z/data=!3m1!4b1" target="_blank">Jendouba</a></td>
        <td><a href="https://www.google.com/maps/search/Kairouan+restaurant/@35.679531,10.0762158,14z/data=!3m1!4b1" target="_blank">Kairouan</a></td>
        <td><a href="https://www.google.com/maps/search/ElKef+tunis+Restaurant/@36.1616035,8.6461756,11.87z" target="_blank">Kef</a></td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/maps/search/Kébili+restaurant/@33.5681222,8.857554,10.56z" target="_blank">Kébili</a></td>
        <td><a href="https://www.google.com/maps/search/manouba+Restaurant/@36.8125092,10.0646882,14z/data=!3m1!4b1" target="_blank">Manouba</a></td>
        <td><a href="https://www.google.com/maps/search/Mahdia+Restaurant/@35.5091399,11.0500034,15z/data=!3m1!4b1" target="_blank">Mahdia</a></td>
        <td><a href="https://www.google.com/maps/search/Mahdia+Restaurant/@35.5091399,11.0500034,15z/data=!3m1!4b1" target="_blank">Monastir</a></td>
        <td><a href="https://www.google.com/maps/search/Médenine+Restaurant/@33.3446676,10.476537,14z/data=!3m1!4b1" target="_blank">Médenine</a></td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/maps/search/Nabeul+Restaurant/@36.4494945,10.7006272,14z/data=!3m1!4b1" target="_blank">Nabeul</a></td>
        <td><a href="https://www.google.com/maps/search/Sfax+Restaurant/@34.7480607,10.7329806,14z/data=!3m1!4b1" target="_blank">Sfax</a></td>
        <td><a href="https://www.google.com/maps/search/Sidi+Bouzid+Restaurant/@35.0339021,9.4558563,14z/data=!3m1!4b1" target="_blank">Sidi Bouzid</a></td>
        <td><a href="https://www.google.com/maps/search/Siliana+Restaurant/@36.0863415,9.3558201,15z/data=!3m1!4b1" target="_blank">Siliana</a></td>
        <td><a href="https://www.google.com/maps/search/Sousse+Restaurant/@35.8445041,10.604913,14z/data=!3m1!4b1" target="_blank">Sousse</a></td>
    </tr>
    <tr>
        <td><a href="https://www.google.com/maps/place/Restaurant+Tataouine/@45.7421262,4.8490171,17z/data=!3m1!4b1!4m5!3m4!1s0x47f4ebf2018ad755:0xc034ba2ae7635a4e!8m2!3d45.7421179!4d4.8512003">Tataouine</a></td>
        <td><a href="https://www.google.com/maps/search/Tozeur+Restaurant/@33.9157387,8.113409,14z/data=!3m1!4b1" target="_blank">Tozeur</a></td>
        <td><a href="https://www.google.com/maps/search/Tunis+Restaurant/@36.9257403,9.8855572,10z/data=!3m1!4b1" target="_blank">Tunis</a></td>
        <td><a href="https://www.google.com/maps/search/Zaghouan+Restaurant/@36.4078657,10.119194,14z/data=!3m1!4b1" target="_blank">Zaghouan</a></td>
        <td><a href="https://www.google.com/maps/search/Ben+Arous+Restaurant/@36.7660002,10.1301317,11.67z" target="_blank">Ben Arous</a></td>
    </tr>
    </table>
    
</div>

</div>